<nav class='blue accent-2 z-depth-5'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo offset-s1">
      Conteudo
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/">
          Home
        </a>
      </li>
    </ul>
  </div>
</nav>
